<!DOCTYPE html>
<html>
<head>
    <script src='main.js'></script>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <pre>
            USERNAME<input type="text" name="uname" />
            FIRST_NAME<input type="text" name="fname" />
            LAST_NAME<input type="text" name="lname" />
            EMAIL<input type="email" name="email" />
            PASSWORD<input type="password" name="pwd" />
            RE-PASSWORD<input type="password" name="rpwd" />
            MOBILE<input type="number" name="mob" />
            ADDRESS<input type="text" name="address" />
            <input type="submit" value="ADD EMPLOYEE" />
        </pre>
    </form>
</body>
</html>